
main {
    padding: 20px;
}

.featured {
    margin-bottom: 20px;
}

.featured h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px; 
}

.game {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    transition: background-color 0.3s, transform 0.3s;
}
.game:hover {
    background-color: #eee;
    transform: scale(1.05); 
}

.game:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5));
    transition: opacity 0.3s;
    opacity: 0.5;
    z-index: -1; 
}


.game img {
        max-width: 200px;  /* Ancho máximo de 200 píxeles */
        height: auto;      /* Ajusta la altura automáticamente para mantener la proporción */
        border-radius: 8px; /* Bordes redondeados opcional */
}

.game h3 {
    margin: 10px 0;
}

.game a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Últimas Noticias */
.latest {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.latest h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
